body, html {
      margin: 10px;
      padding: 0;
      overflow: hidden;
}

#area {
	margin: 0;
	padding: 0;
	display: block;
      	width: 500px;
      	height: 500px;
	background: #ccc;
}

h1 {
  color: blue;
  font-family: cursive;
}
